[mysqld]
# 设置server_id,注意要唯一
server-id = 2
# 开启binlog
log-bin=mysql-slave-bin
# relay_log配置中继日志
relay_log=edu-mysql-relay-bin
# 如果需要同步函数或者存储过程
log_bin_trust_function_creators=false
# binlog缓存
binlog_cache_size=1M
# binlog格式(mixed、statement、row,默认格式是statement)
binlog_format=mixed
# 设置字符编码为utf8mb4
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'
slave_skip_errors=1062
[client]
default-character-set = utf8mb4
[mysql]
default-character-set = utf8mb4
